body {
  background-color: #eee;
}
main {
  margin-left: 115px;
  margin-top: 10px;
  padding: 20px;
  background: #eee;
  min-height: calc(100vh - 60px);
}
.nav-search {
  display: flex;
  float: right;
  margin: 2px;
  margin-top: 10px;
}
.filter-form {
  gap: 8px;
  flex-wrap: wrap;
}
.input-search {
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  width: 220px;
}
.input-date,
.input-select {
  padding: 5px 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
}
.btn-search,
.btn-reset {
  padding: 6px 12px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}
.btn-search {
  background-color: #3498db;
  color: white;
}
.btn-search:hover {
  background-color: #2980b9;
}

/* Bảng dữ liệu */
.table-section {
  background: #ddd;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  padding: 20px 24px;
  margin-top: 80px;
}
.table-header {
  display: block;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.table-header h3 {
  margin-bottom: 16px;
  font-size: 20px;
  color: #333;
  font-weight: 600;
  border-left: 4px solid #4caf50;
  padding-left: 10px;
}
/* hiển thị giới hạn */
.btn-show {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 4px 8px;
  border-radius: 4px;
  border: 1px solid #b8b8b8;
  background: #b8b8b8;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
.btn-show p {
  margin: 0;
  font-weight: 500;
}
.btn-show select {
  padding: 4px 8px;
  background: #ddd;
  border: 1px solid #ddd;
  border-radius: 4px;
}
/* bảng đánh giá */
.table-container {
  overflow-x: auto;
}
.feedback-table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  overflow: hidden;
  font-size: 14px;
}
.feedback-table thead {
  background: #f3f4f6;
  color: #333;
}
.feedback-table th {
  padding: 14px 16px;
  text-align: left;
  font-weight: 600;
  border-bottom: 2px solid #ddd;
}
.feedback-table td {
  padding: 12px 16px;
  border-bottom: 1px solid #eee;
  border-right: 1px solid #eee;
}
.feedback-table td:last-child {
  border-right: none;
}
.feedback-table tbody tr:hover {
  background-color: #f9fefb;
  transition: 0.25s;
}

/* phân trang */
.pagination {
  display: flex;
  gap: 4px;
  justify-content: center;
  margin-top: 20px;
}
.pagination .page-item .page-link {
  display: block;
  padding: 6px 12px;
  border: 1px solid #dee2e6;
  color: #007bff;
  text-decoration: none;
  border-radius: 4px;
}
.pagination .page-item.active .page-link {
  background-color: #007bff;
  color: white;
  border-color: #007bff;
  font-weight: bold;
  pointer-events: none;
}

.status {
  text-align: center;
  vertical-align: middle;
}
.status-active {
  display: inline-block;
  background: rgba(46, 204, 113, 0.15);
  color: #27ae60;
  padding: 4px 8px;
  border-radius: 6px;
  font-size: 12px;
  font-weight: 500;
}
.status-locked {
  display: inline-block;
  background: rgba(231, 76, 60, 0.15);
  color: #e74c3c;
  padding: 4px 8px;
  border-radius: 6px;
  font-size: 12px;
  font-weight: 500;
}

.btn-hide {
  background: rgba(19, 15, 241, 0.15);
  color: #380ff1;
  padding: 4px 10px;
  border-radius: 8px;
  display: inline-block;
  margin: 3px;
  text-decoration: none;
  font-size: 12px;
  font-weight: bolder;
}

.btn-approve {
  background: rgba(241, 226, 15, 0.15);
  color: #edf10f;
  padding: 4px 10px;
  border-radius: 8px;
  display: inline-block;
  margin: 3px;
  text-decoration: none;
  font-size: 12px;
  font-weight: bolder;
}

.btn-delete {
  background: rgba(241, 15, 15, 0.15);
  color: #f10f0f;
  padding: 4px 10px;
  border-radius: 8px;
  display: inline-block;
  margin: 3px;
  text-decoration: none;
  font-size: 12px;
  font-weight: bolder;
}

.btn-view {
  background: rgba(193, 183, 183, 0.149);
  color: #c1b7b7;
  padding: 4px 10px;
  border-radius: 8px;
  display: inline-block;
  margin: 3px;
  text-decoration: none;
  font-size: 12px;
  font-weight: bolder;
}
